<% provide :title, "About" %>
<h1>About</h1>
<p>BEARS by Tomas Trnecka © 2016</p>
<p>version: 5.0.0</p>

<div>
	<div>The BEARS application has been developed to ease management of big ECS VPC and Utility SAN environments consisting of Brocade, EVA and 3PAR devices. Main objective of this application is to provide single tool for tasks like:</div>
	<ul>
		<li>consistency and configuration checks</li>
		<li>resource lookup</li>
		<li>customer to server to storage resources mapping</li>
		<li>capacity reporting and capacity utilization optimization</li>
		<li>customer storage usage reporting</li>
		<li>performance reporting/monitoring</li>
		<li>SAN connectivity management</li>
		<li>reporting of new/removed hosts, new/removed/updated volumes and new/removed/updated zones</li>
		<li>health reporting</li>
		<li>overview of environment growth</li>
	</ul>
	<div>This application is supported on best effort basis without any SLA.</div>
</div>
