<div class="center jumbotron">
  <h1>Welcome to BEARS</h1>
  <h2>Please log in with your personal DOMAIN account or create an application account.</h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>