<% provide(:title, 'Dashboard') %>
<div ng-controller="HomePageCtrl as hp" ng-init="hp.load_data(<%= @instances.to_json %>)">
	<div class="row">
		<div class="col-lg-6" ng-show="hp.capacity_chart_exist">
			<div class="panel panel-default">
				<div class="panel-heading">
					Capacity Chart
				</div>
				<div class="panel-body">
					<div class="flot-chart">
						<div class="flot-chart-content" id="chart_capacity"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6" ng-show="hp.capacity_chart_detailed_exist">
			<div class="panel panel-default">
				<div class="panel-heading">
					Capacity Chart Detailed
				</div>
				<div class="panel-body">
					<div class="flot-chart">
						<div class="flot-chart-content" id="chart_capacity_detailed"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
