<% provide(:title, 'Users') %>
<table id="users_table" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
	<thead>
    	<tr>
        	<th>Login</th>
            <th>Name</th>
            <th>E-mail</th>
        </tr>
	</thead>
	<tbody>
		<%= render @users %>
	</tbody>
</table>
