<% provide :title, @user.name %>
<table class="table">
  <tbody>
  <tr>
    <th>Login:</th>
    <td><%= @user.login %></td>
  </tr>
  <tr>
    <th>Email:</th>
    <td><%= @user.email %></td>
  </tr>
  </tbody>
</table>
