<div class="modal-header">
	<h3 class="modal-title" id="modal-title">{{ctrl.title}} Credential</h3>
</div>
<div class="modal-body" id="modal-body">
	<div class="panel-body">
		<form name="ctrl.form" class="css-form" novalidate>
		<fieldset>
		  	<div class="form-group" ng-class="{field_with_errors: ctrl.form.description.$error.descriptionasync || ctrl.form.description.$error.required}">
		   		<input type="text" ng-required="true" name="description" class="form-control" placeholder="Description" tt-credential-description ng-model="ctrl.credential.description" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"/>
		    </div>
		    <div class="form-group" ng-class="{field_with_errors: ctrl.form.account.$error.required}">
		       	<input type="text" name="account" ng-required="true" class="form-control" placeholder="Account" ng-model="ctrl.credential.account"/>
		    </div>
		    <div class="form-group" ng-class="{field_with_errors: !ctrl.password_ok() || ctrl.form.password.$error.required}">
		       	<input type="password" ng-required="ctrl.mode!='edit'"  name="password" class="form-control" placeholder="Password" ng-model="ctrl.credential.password"/>
		    </div>
		    <div class="form-group" ng-class="{field_with_errors: !ctrl.password_ok() || ctrl.form.password_confirmation.$error.required }">
		       	<input type="password" ng-required="ctrl.mode!='edit'"  name="password_confirmation" class="form-control" placeholder="Password Confirmation" ng-model="ctrl.credential.password_confirmation"/>
		    </div>
		</fieldset>
		</form>
		<div id="error_explanation">
		    <ul>
		    	<li name="desc_exist_check_error" ng-show="ctrl.form.description.$error.required">Description is required!</li>
		    	<li name="desc_check_pending" ng-show="ctrl.form.description.$pending.descriptionasync">Checking if this description is available...</li>
		    	<li name="desc_check_error" ng-show="ctrl.form.description.$error.descriptionasync">This description is already taken!</li>
		    	<li name="account_check_error" ng-show="ctrl.form.account.$error.required">Account is required!</li>
		    	<li name="passwd_check_error" ng-show="!ctrl.password_ok()">Passwords do not match!</li>
		    	<li name="passwd_exist_check_error" ng-show="ctrl.form.password.$error.required">Password is required</li>
		    </ul>
	  	</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.save()" ng-disabled="ctrl.save_disabled()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
</div>