<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Edit Credential</h3>
</div>
<div class="modal-body" id="modal-body">
	<div class="panel-body">
		<fieldset>
		  	<div class="form-group">
		   		<input type="text" name="description" class="form-control" placeholder="Description" ng-model="ctrl.credential.description"/>
		    </div>
		    <div class="form-group">
		       	<input type="text" name="account" class="form-control" placeholder="Account" ng-model="ctrl.credential.account"/>
		    </div>
		    <div class="form-group" ng-class="{field_with_errors: ctrl.save_disabled()}">
		       	<input type="password" name="password" class="form-control" placeholder="Password" ng-model="ctrl.credential.password"/>
		    </div>
		    <div class="form-group" ng-class="{field_with_errors: ctrl.save_disabled()}">
		       	<input type="password" name="password_confirmation" class="form-control" placeholder="Password Confirmation" ng-model="ctrl.credential.password_confirmation"/>
		    </div>
		</fieldset>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.save()" ng-disabled="ctrl.save_disabled()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
</div>