<% provide(:title, 'Credentials') %>
<bears-data-table table="credentials_table">
	<table id="credentials_table" class="table table-striped table-bordered table-hover">
		<thead>
	    	<tr>
	        	<th>Description</th>
	        	<th>Account</th>
	            <th>Actions</th>
	        </tr>
		</thead>
		<tbody>
			<%= render @credentials %>
		</tbody>
	</table>
</bears-data-table>
