<% 
	case params[:array_type]
	when "A3Par"
		provide(:title, '3PAR Arrays')
	when "Eva"
		provide(:title, 'EVA Arrays')
	else
		provide(:title, 'All Arrays')
	end 
%>
<bears-data-table table="arrays_table">
	<table id="arrays_table" class="table table-striped table-bordered table-hover">
		<thead>
	    	<tr>
	        	<th>Name</th>
	        	<th>Data Center</th>
	            <th>Serial</th>
	            <th>Model</th>
	            <th>Firmware</th>
	            <th>Total Space</th>
	            <th>Used Space</th>
	            <th>Available Space</th>
	        </tr>
		</thead>
		<tbody>
			<%= render @arrays %>
		</tbody>
	</table>
</bears-data-table>
